html,
body,
#root,
#fullheight {
  height: 100%;
}

.App {
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding-bottom: 5rem;
}

footer {
  text-align: center;
  padding: 2px;
  background-color: DarkSalmon;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
header {
  text-align: center;
  padding: 1px;
  background-color: DarkSalmon;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
